SocialMediaApi/bin/Debug
SocialMediaApi/obj/Debug
SocialMedia.UnitTests/bin/Debug
SocialMedia.UnitTests/obj/Debug
SocialMedia.IntegrationTests/bin/Debug
SocialMedia.IntegrationTests/obj/Debug
SocialMedia.Infrastructure/bin/Debug
SocialMedia.Infrastructure/obj/Debug
SocialMedia.Core/bin/Debug
SocialMedia.Core/obj/Debug
.vs/SocialMedia/DesignTimeBuild

/build/
*.suo
*.user
*.sdf
bin/
obj/
Debug/
Release/
*.exe
*.pdb
*.manifest
*.cache